QPushButton
{
	color: black;
	/*border-color: grey;
	border-style: inset;*/
    border-width: 3px;
    border-radius: 4px;
    font: bold 14px;
}

QPushButton[class=playback]
{	 
     width: 25px;
     height: 25px;
     max-width: 25px;     
     font: 15px;
}

QWidget[class=MainWindow]
{
	background-color: rgb(100, 100, 100);	
}